In [1]:
# Module importieren
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression, LogisticRegression

In [3]:
# Daten in PandasDf einlesen
data = pd.read_csv("venice.dat")
data

   Year\tSeaLevel
0       1931\t103
1        1932\t78
2       1933\t121
3       1934\t116
4       1935\t115
5       1936\t147
6       1937\t119
7       1938\t114
8        1939\t89
9       1940\t102
10       1941\t99
11       1942\t91
12       1943\t97
13      1944\t106
14      1945\t105
15      1946\t136
16      1947\t126
17      1948\t132
18      1949\t104
19      1950\t117
20      1951\t151
21      1952\t116
22      1953\t107
23      1954\t112
24       1955\t97
25       1956\t95
26      1957\t119
27      1958\t124
28      1959\t118
29      1960\t145
30      1961\t122
31      1962\t114
32      1963\t118
33      1964\t107
34      1965\t110
35      1966\t194
36      1967\t138
37      1968\t144
38      1969\t138
39      1970\t123
40      1971\t122
41      1972\t120
42      1973\t114
43       1974\t96
44      1975\t125
45      1976\t124
46      1977\t120
47      1978\t132
48      1979\t166
49      1980\t134
50      1981\t138